<%= render 'contacts/directory_sidebar' %>
<h1>Family</h1>
<p>
  <b>Name:</b>
  <%= @family.name %>
</p>
<p>
  <b>Description:</b>
  <%= @family.description%>
</p>

<%= link_to 'Edit', edit_family_path(@family) %> 
