<% content_for :sidebar do %>
  <h3 class="widget-title">My Profile</h3>   
    <ul>
      <li><%= link_to 'Change password', edit_user_path(current_user) %></li>
      <li><a href="http://en.gravatar.com/" target="_blank">Add avatar</a></li>    
    </ul>
<% end %>

