<% content_for :sidebar do %>
  <h3 class="widget-title">My Contacts</h3>   
    <ul>
        <li><%= link_to 'Show contacts', contacts_path %></li>
        <li><%= link_to 'Add contact', new_contact_path %></li>
    </ul>
<% end %>


