<h1>New Book</h1>
<%= form_tag google_books_path, :method => :get, :remote => true do %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search", :name => nil) %>
<% end %>

<div id="books">
  <%= render 'google_books/index' %>
</div>
