<h1>Bulletin posts</h1>

<% Category.order(:name).each do |category| %>
  <ul><strong><%= category.name %></strong>
    <% category.posts.each do |post| %>
      <li><%= post.title %></li>
    <% end %>
  </ul>
<% end %>
