<%= render 'users/admin_sidebar' %>
<h1>Category</h1>
<p>
  <b>Name:</b>
  <%= @category.name %>
</p>

<p>
  <b>Description:</b>
  <%= @category.description %>
</p>

<%= link_to 'Edit', edit_category_path(@category) %>
